{% extends 'base.html.twig' %}

{% block title %}
    Liste des restos
{% endblock %}

{% block body %}
    <div class="container p-3 my-3 border">

        <h2>Les restos</h2>
        <ul class="list-group">
            {% for element in lesRestos %}
                <li class="list-group-item">
                     <a href="{{ path("liste_plats_resto", {id:element.id}) }}">{{ element.nomR }}</a>
                </li>

            {% endfor %}
        </ul>
        <br>

    </div>
{% endblock %}